coverage_report
test/bindings/wasm/node_modules/
**/node_modules/
**/package-lock.json
Testing*
wasm/test/in3
.in3
build*/
_build
**/.vscode/ipch/
**/.DS_Store
/.metadata/
/build.gradle
.DS_Store
/RemoteSystemsTempFiles/
cmake-build-debug/
.vscode/
.idea/
.settings/
# Vim
python/htmlcov
wasm/test/.nyc_output
wasm/test/coverage
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.gradle/
bin/
.classpath
.project
*.class
target/
.cproject
.overcommit.yml
c/src/third-party/hidapi/config*
c/src/third-party/hidapi/autom4te.cache/*
c/src/third-party/hidapi/m4/*
c/src/third-party/hidapi/install-sh
c/src/third-party/hidapi/ltmain.sh
c/src/third-party/hidapi/testgui/*
c/src/third-party/hidapi/ar-lib
c/src/third-party/hidapi/*/Makefile.in
c/src/third-party/hidapi/Makefile.in
c/src/third-party/hidapi/missing
c/src/third-party/hidapi/depcomp
c/src/third-party/hidapi/compile
c/src/third-party/hidapi/aclocal.m4
c/.clang-format
