coverage_report
test/bindings/wasm/node_modules/
**/node_modules/
**/package-lock.json
src/init/autoregister.h
Testing*
wasm/test/in3
.in3
build*/
_build
**/.vscode/ipch/
**/.DS_Store
/.metadata/
/build.gradle
.DS_Store
/RemoteSystemsTempFiles/
cmake-build-debug/
.vscode/
.idea/
.settings/
# Vim
_
swift/.swiftpm/
python/htmlcov
wasm/test/.nyc_output
wasm/test/coverage
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.gradle/
bin/
.classpath
.project
*.class
python/**/*.pyc
target/
.cproject
.overcommit.yml
src/third-party/hidapi/config*
src/third-party/hidapi/autom4te.cache/*
src/third-party/hidapi/m4/*
src/third-party/hidapi/install-sh
src/third-party/hidapi/ltmain.sh
src/third-party/hidapi/testgui/*
src/third-party/hidapi/ar-lib
src/third-party/hidapi/*/Makefile.in
src/third-party/hidapi/Makefile.in
src/third-party/hidapi/missing
src/third-party/hidapi/depcomp
src/third-party/hidapi/compile
src/third-party/hidapi/aclocal.m4
examples/CMakeLists.txt
.clang-format
swift/**/.DS_Store
swift/**/.build
swift/**/Packages
swift/**/*.xcodeproj
swift/**/xcuserdata/
