&flash0 {
	reg = <0x00001000 0xDF000>;
};

&sram0 {
	reg = <0x20000008 0x3FFF8>;
};

&i2c0 {
	status = "ok";
	sda-pin = <15>;
	scl-pin = <13>;
};

&spi1 {
	status = "ok";
	sck-pin = <32>;
	mosi-pin = <45>;
	
	miso-pin = <42>;
};

&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "ok";
	tx-pin = <20>;
	rx-pin = <24>;
	rts-pin = <14>;
	cts-pin = <11>;
};
